@tailwind base;
@tailwind components;
@tailwind utilities;

.neumorph {
	border-radius: 16px;
	background: linear-gradient(145deg, #000, #000);
	box-shadow: 9px 9px 44px #196e39, -9px -9px 44px #196e39;
}

.glass {
	@apply h-full w-full bg-gray-900 rounded-md bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-10 border border-gray-100;
}
